@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  --text-color: #222;
  --bkg-color: #fff;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p,
.card,
.box,
.footer,
.navbar,
.input {
  color: var(--text-color);
}

body,
.card,
.box,
.footer,
.navbar,
.input {
  background: var(--bkg-color);
}

nav > button {
  float: right;
}
